# ==============================================================================
# Jenkins Controller Configuration Environment
# ==============================================================================

# HTTP Web UI port on host machine
JENKINS_HTTP_PORT=8080

# Inbound Agent (JNLP) port on host machine
JENKINS_AGENT_PORT=50000

# Name of external volume for Jenkins home mutable state
JENKINS_VOLUME_NAME=jenkins_data

# Name of external volume for Maven cache
MAVEN_CACHE_VOLUME_NAME=jenkins_maven_cache
