# ==============================================================================
# Jenkins CI/CD Controller Environment Configuration (Podman)
# ==============================================================================

# Published host port for Jenkins Web UI (HTTP)
JENKINS_HTTP_PORT=8080

# Published host port for inbound Jenkins JNLP agents
JENKINS_AGENT_PORT=50000

# Name of persistent external data volume
JENKINS_DATA_VOLUME=jenkins_data

# Name of persistent external Maven cache volume
JENKINS_MAVEN_CACHE_VOLUME=jenkins_maven_cache
